header{
    background-color: rgb(44 62 80);
    color: white;
}

header nav{
    height: 80px;
}


/* debug */
.container{
    border: 2px solid red;
}

/* debug */
[class*="col-"]{
    border: 2px solid yellow;
}

.ms-box{
    /* debug */
    background-color: orange;
    
}

.jumbo{
    background-color: rgb(26 188 156);
}

.jumbo .ms-box{
    height: 250px;
    text-align: center;
}