header{
    background-color: rgb(44 62 80);
    color: white;
}

header nav{
    height: 80px;
}

header nav .ms-box{
    height: 60px;
}

section{
    padding: 2em 0;
}

/* debug */
.container{
    border: 2px solid red;
}

/* debug */
[class*="col-"]{
    border: 2px solid yellow;
}

.ms-box{
    /* debug */
    background-color: orange;
    height: 250px;
    
}

.bg-green{
    background-color: rgb(26 188 156);
}

.jumbo .ms-box{
    text-align: center;
}

.button{
    margin: 2em auto;
    /* debug */
    background-color: red;
    width: 100px;
    height: 30px;
}