header{
    background-color: rgb(44 62 80);
    height: 90px;
    color: white;
}

/* debug */
.container{
    border: 2px solid red;
}

[class*="col-"]{
    border: 2px solid yellow;
}

.ms-box{
    /* debug */
    background-color: orange;
    height: 70px;
}